:local .keyword {
  background: theme-color();
  border: 1px solid darken(theme-color(), 20%);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 1.3em;
  min-height: 2em;
  line-height: 1.2;
  transition: all 0.2s ease-out;

  &:hover {
    transform: scale(1.05);
    background: #fff;
  }

  &.selected {
    background: theme-color('secondary')
  }
}