:local {
  // Stylized
  .stylizedList {
    position: relative;
    z-index: 0;
    background-color: #F3F3F3;
    border: 1px solid #EFEFEF;
    border-radius: 3px;
    outline: none;
    margin: 0;
    padding: 0;
  }
  .stylizedItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    background-color: #FFF;
    border-bottom: 1px solid #EFEFEF;
    box-sizing: border-box;
    user-select: none;

    color: #333;
    font-weight: 400;
  }

  // Drag handle
  .handle {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2250%22%20height%3D%2250%22%20viewBox%3D%220%200%2050%2050%22%3E%3Cpath%20d%3D%22M%200%207.5%20L%200%2012.5%20L%2050%2012.5%20L%2050%207.5%20L%200%207.5%20z%20M%200%2022.5%20L%200%2027.5%20L%2050%2027.5%20L%2050%2022.5%20L%200%2022.5%20z%20M%200%2037.5%20L%200%2042.5%20L%2050%2042.5%20L%2050%2037.5%20L%200%2037.5%20z%22%20color%3D%22%23000%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.25;
    margin-right: 20px;
    cursor: row-resize;
  }

  .title {
    flex-grow: 1;
  }

  .delete {
    &:before {
      content: 'del';
    }
  }
}