:local {

  .title {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 10px;
  }

  .titleDetails {
  }

  .selected {
    box-shadow: 0 0 10px #328d99;
    border: 1px solid #328d99;
  }

  .title:nth-of-type(1) .titleDetails {
    background: color("orange");
  }
  .title:nth-of-type(2) .titleDetails {
    background: color("yellow");
  }
  .title:nth-of-type(3) .titleDetails {
    background: color("green");
  }
  .title:nth-of-type(4) .titleDetails {
    background: color("teal");
  }
  .title:nth-of-type(5) .titleDetails {
    background: color("cyan");
  }
}